astroid==2.3.3
autopep8==1.4.4
bson==0.5.8
certifi==2019.9.11
cffi==1.13.2
configparser==4.0.2
cryptography==2.8
DateTime==4.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
oci==2.6.3
# Editable Git install with no remote (oci-metrics==0.1.0)
-e /home/opc/oci_metrics
pycodestyle==2.5.0
pycparser==2.19
pylint==2.4.3
pyOpenSSL==19.0.0
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
tree-format==0.1.2
typed-ast==1.4.0
wrapt==1.11.2
zope.interface==4.6.0
astroid==2.3.3
autopep8==1.4.4
bson==0.5.8
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
configparser==4.0.2
cryptography==2.8
DateTime==4.3
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
oci==2.6.3
-e git+https://github.com/ndc466/oci_account_metrics.git@d6fcda65aad1f4571910f1ac1eb28d28052cb046#egg=oci_metrics
pycodestyle==2.5.0
pycparser==2.19
PyJWT==1.7.1
pylint==2.4.3
pyOpenSSL==19.0.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
tree-format==0.1.2
twilio==6.33.1
typed-ast==1.4.0
urllib3==1.25.7
wrapt==1.11.2
zope.interface==4.6.0
